.c{
    height: 100vh;
    position: relative;
}

.c-bg{
    width: 20px;
    height: 100%;
    background-color: lightgreen;
    position: absolute;
}

.c-wrapper{
    display: flex;
    padding: 50px;
}

.c-left{
    flex: 1;
    padding-left: 5%;
}

.c-right{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-title{
    font-size: 40px;
    width: 80%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
}

.c-icon{
    width: 40px; 
    height: 40px;
    margin-right: 20px;
}

form{
    margin-top: 0px;
}

input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px
}

button{
    border: none;
    padding: 15px;
    background-color: green;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .c-wrapper{
        font-display: column;
    }
}





